﻿body {
  margin:0px;
  background-color:rgba(25, 36, 51, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:fixed;
  left:50%;
  margin-left:-683px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(25, 36, 51, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(100, 181, 246, 0.498039215686275);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_state0_content {
  left:0px;
  top:0px;
}
#u2 {
  position:fixed;
  left:0px;
  top:5px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:834px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:2px;
  width:765px;
  height:46px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1px;
  width:50px;
  height:48px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6 {
  position:fixed;
  right:0px;
  top:0px;
  width:378px;
  height:60px;
}
#u6_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:10px;
  width:90px;
  height:22px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  text-align:right;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:32px;
  width:112px;
  height:19px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  text-align:right;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:56px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:5px;
  width:50px;
  height:50px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:19px;
  width:22px;
  height:25px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:19px;
  width:25px;
  height:22px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:19px;
  width:25px;
  height:19px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:1px;
  height:60px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:17px;
  width:6px;
  height:6px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:17px;
  width:6px;
  height:6px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:17px;
  width:6px;
  height:6px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:43px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:315px;
  width:94px;
  height:43px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:81px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:340px;
  width:79px;
  height:81px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:99px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:411px;
  width:38px;
  height:99px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:102px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:507px;
  width:56px;
  height:102px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:72px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:595px;
  width:92px;
  height:72px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:646px;
  width:109px;
  height:29px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:69px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:598px;
  width:91px;
  height:69px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:105px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:507px;
  width:56px;
  height:105px;
  display:flex;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:98px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:412px;
  width:38px;
  height:98px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:341px;
  width:77px;
  height:80px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:43px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:315px;
  width:94px;
  height:43px;
  display:flex;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:386px;
  width:300px;
  height:300px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:128px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:148px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:153px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:235px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:237px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:360px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:370px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u37_1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37_1 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:667px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u37_4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37_4 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:520px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u37_2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37_2 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:770px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}


#u37_3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u37_3 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:825px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:810px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:641px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:503px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:753px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:118px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:252px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:138px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:225px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:350px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:493px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:800px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u49_1 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:815px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u49_1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}

#u49_2 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:760px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u49_2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}

#u49_3 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:657px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u49_3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}

#u49_4 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:510px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u49_4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}

#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:143px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:227px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:360px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:743px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:631px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:265px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:331px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:430px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:549px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:797px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:271px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:338px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:445px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u62_1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u62_1 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:565px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u62_1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u62_4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u62_4 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:679px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u62_4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u62_2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u62_2 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:773px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u62_2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}


#u62_3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u62_3 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:813px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u62_3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:755px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:660px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:130px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:264px;
  width:2px;
  height:127px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:144px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:265px;
  width:2px;
  height:141px;
  display:flex;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:144px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:315px;
  width:2px;
  height:141px;
  display:flex;
  -webkit-transform:rotate(48deg);
  -moz-transform:rotate(48deg);
  -ms-transform:rotate(48deg);
  transform:rotate(48deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:137px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:390px;
  width:2px;
  height:134px;
  display:flex;
  -webkit-transform:rotate(72deg);
  -moz-transform:rotate(72deg);
  -ms-transform:rotate(72deg);
  transform:rotate(72deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:138px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:480px;
  width:2px;
  height:135px;
  display:flex;
  -webkit-transform:rotate(96deg);
  -moz-transform:rotate(96deg);
  -ms-transform:rotate(96deg);
  transform:rotate(96deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:152px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:555px;
  width:2px;
  height:149px;
  display:flex;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:143px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:580px;
  width:2px;
  height:140px;
  display:flex;
  -webkit-transform:rotate(240deg);
  -moz-transform:rotate(240deg);
  -ms-transform:rotate(240deg);
  transform:rotate(240deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:145px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:650px;
  width:2px;
  height:142px;
  display:flex;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:136px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:684px;
  width:2px;
  height:133px;
  display:flex;
  -webkit-transform:rotate(192deg);
  -moz-transform:rotate(192deg);
  -ms-transform:rotate(192deg);
  transform:rotate(192deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:138px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:670px;
  width:2px;
  height:135px;
  display:flex;
  -webkit-transform:rotate(168deg);
  -moz-transform:rotate(168deg);
  -ms-transform:rotate(168deg);
  transform:rotate(168deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:151px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:625px;
  width:2px;
  height:148px;
  display:flex;
  -webkit-transform:rotate(144deg);
  -moz-transform:rotate(144deg);
  -ms-transform:rotate(144deg);
  transform:rotate(144deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u75_1 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:490px;
  width:2px;
  height:148px;
  display:flex;
  -webkit-transform:rotate(264deg);
  -moz-transform:rotate(264deg);
  -ms-transform:rotate(264deg);
  transform:rotate(264deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u75_1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u75_2 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:400px;
  width:2px;
  height:148px;
  display:flex;
  -webkit-transform:rotate(288deg);
  -moz-transform:rotate(288deg);
  -ms-transform:rotate(288deg);
  transform:rotate(288deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u75_2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u75_3 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:320px;
  width:2px;
  height:148px;
  display:flex;
  -webkit-transform:rotate(312deg);
  -moz-transform:rotate(312deg);
  -ms-transform:rotate(312deg);
  transform:rotate(312deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u75_3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u75_4 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:265px;
  width:2px;
  height:148px;
  display:flex;
  -webkit-transform:rotate(336deg);
  -moz-transform:rotate(336deg);
  -ms-transform:rotate(336deg);
  transform:rotate(336deg);
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
}
#u75_4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:70px;
  width:77px;
  height:22px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u77_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u77.mouseOver {
}
#u77_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:75px;
  width:7px;
  height:12px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:70px;
  width:195px;
  height:22px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:1366px;
  height:1px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(31, 141, 228, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:68px;
  width:26px;
  height:26px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:75px;
  width:7px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
